* {
  box-sizing: border-box;
}

/*** rem scaling ***/
html {
  font-size: 14px;
}

/* tablet & mobile sizing */
@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

/* 4k+ resolution scaling */
@media screen and (min-width: 2160px) {
  html body {
    margin: 0 auto;
    width: 1260px;
  }
}

/*** container ***/
.container {
  background-color: #fff;
  margin: 0 auto;
}

/* tablet & mobile container */
@media screen and (max-width: 900px) {
  .container {
    max-width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 90vw;
  }
}

/*** typography ***/
h1, h2, h3, h4, h5, h6, ul, li, p, a {
  font-family: "Abel", sans-serif;
}

a, a:hover, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h1 {
  font-size: 4rem;
  margin: 0 auto;
  padding-top: 15vh;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  color: #C51F25;
  font-size: 2.75rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

h4 {
  color: #C51F25;
  font-size: 2rem;
}

h5 {
  color: #192531;
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
}

ul, li {
  font-size: 1.25rem;
}

/*** structure ***/
header {
  display: inline-block;
}

#characters, #videos, #tickets {
  max-width: 90vw;
  margin: 0 auto;
  padding: 5vh 0;
}

/* nav */
nav {
  background-color: #C51F25;
  box-shadow: 2px 2px 5px #777777;
  height: 7vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#logo {
  background-color: #fff;
  float: left;
  height: 7vh;
  margin: 0 auto;
}

nav ul, nav li {
  display: inline-block;
  margin: 0.75rem auto;
}

#links {
  float: left;
  padding: 0 5rem;
  text-align: center;
  word-spacing: 5rem;
}

#socials {
  float: right;
  padding: 0 5rem;
  text-align: center;
  word-spacing: 2.5rem;
}

@media screen and (max-width: 1200px) {
  #links {
    padding: 0 2rem; {
    }
  }

  #socials {
    padding: 0;
    padding-right: 1rem;
  }
}

#socials svg:hover {
  transform: scale(1.25);
}

#instagram-icon:hover path, #instagram-icon:hover circle {
  fill: #FFFFFF;
}

#facebook-icon:hover path {
  fill: #3B5998;
}

#twitter-icon:hover path {
  fill: #1DA1F2;
}

/* tablet/mobile nav */
nav .icon {
  display: none;
}

@media screen and (max-width: 900px) {
  #links {
    display: none;
  }
}

/* countdown timer */
#countdown {
  margin: 2rem auto;
  text-align: center;
}

/* hero image */
#hero {
  width: 100%;
}

/* synopsis section */
#synopsis {
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 5vw;
  grid-template-columns: 4fr 8fr;
  grid-template-areas:
  "movie-poster text-content";
  margin: 0 auto;
  padding: 5vh 0;
}

#synopsis img {
  grid-area: movie-poster;
  float: left;
  max-width: 30vw;
}

.text-content {
  grid-area: text-content;
}

.text-content p {
  padding-bottom: 3rem;
}

/* mobile synopsis section */
@media screen and (max-width: 900px) {
  #synopsis img {
    display: none;
  }

  #synopsis {
    grid-gap: 5vw;
    grid-template-columns: 1fr;
    grid-template-areas:
    "movie-poster"
    "text-content";
    margin: 0 auto;
    max-width: 90vw;
    text-align: center;
  }
}

/* Chracters */
.carousel-inner img {
  margin: 0 auto;
  max-width: 100vw;
}

.glyphicon {
  color: #f0f0f0;
}

.carousel-indicators {
  position: absolute;
  top: 67vh;
}

.carousel-indicators li {
  border: 0;
  background-color: #C51F25
}

.carousel-indicators .active {
  background-color: #ACB7C2;
}

.item {
  background-color: #192531;
}

.char-caption {
  background-color: rgba(0,0,0,0.75);
  margin: 0 auto;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.carousel-caption h4, .carousel-caption h5, .carousel-caption p {
  text-align: center;
}

.carousel-caption h5 {
  color: #fff;
}

.carousel-caption p {
  color: #fff;
}

/* tablet & mobile characters */
@media screen and (max-width:750px) {
  .carousel-indicators {
    display: none;
  }
}

/* Videos */

.row {
  padding-top: 3rem;
}

.youtube-carousel {
  border: 4px solid #000;
}

.video-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 60px;
  overflow: hidden;
  margin-bottom: -1px;
  margin-right: -1px;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-control {
  z-index: 1;
  width: 2vw;
}

.video-caption h5 {
  background-color: #C51F25;
  margin: 0 auto;
  text-align: center;
}

/* Tickets */
#tickets {
  text-align: center;
}

#tickets p {
  padding-top: 2rem;
}

#fandango-logo {
  display: block;
  max-width: 25vw;
  margin: 0 auto;
}

.btn {
  background-color: #C51F25;
  display: block;
  margin: 1rem auto;
  max-width: 22.5vw;
}

.btn:hover {
  background-color: #ACB7C2;
}

footer {
  background-color: #192531;
  display: block;
  padding: 0.5rem 1rem;
}

footer a, footer a:hover, footer a:visited {
  color: #ACB7C2;
}

footer h6 {
  color: #fff;
}

footer img {
  float: right;
  max-height: 5vh;
  margin: 0.5rem 3rem;
}
